.layout-wrapper {
  display: flex;
  margin-top: 2rem;
}

.filter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-wrap: wrap;
  padding-right: 1rem;

  div {
    padding-left: 0.25rem;
    padding-right: 0.25rem
  }
}

canvas {
  width: 100% !important;
  height: auto !important;
  min-height: 50rem;
  display: block;
  background-color: white;
  border-radius: 12px;
}

#canvas-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.mat-mdc-form-field {
  min-width: 16rem;
}

@media (max-width: 1200px) {
.layout-wrapper {
  flex-direction: column;
}

.filter-wrapper {
  flex-direction: row;
  padding: 0;
}
}

@media (max-width: 768px) {
  #canvas-wrapper {
    max-height: 40vh;
  }

  canvas {
    min-height: auto;
  }
}
