<h3>Global Warming Potential Heatmap</h3>
<div class="layout-wrapper">
  <div class="filter-wrapper">
    <div class="inputs-wrapper">
      <div class="input-field">
        <mat-form-field appearance="outline">
          <mat-label>Chemical</mat-label>
          <input type="text" matInput [formControl]="chemicalControl" [matAutocomplete]="auto">

          <button
          *ngIf="chemicalControl.value"
          matSuffix 
          mat-icon-button 
          class="clear-button"
          aria-label="Clear"
          (click)="clearSearch()">
          <mat-icon>close</mat-icon>
        </button>

          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="createChart()">
            <mat-option *ngFor="let chemical of filteredChemicals | async" [value]="chemical">
              {{ chemical }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>        
      </div>
      <div class="input-field">
        <mat-form-field appearance="outline">
          <mat-label>GWP Value</mat-label>
          <mat-select [(value)]="selectedGWP" (selectionChange)="createChart()">
            <mat-option *ngFor="let gwp of gwps" [value]="gwp">{{ gwp }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div id="canvas-wrapper">
    <canvas #heatmapCanvas></canvas>

    <div class="legend">
      <div class="legend-values">
        <div class="legend-value">0</div>
        <div class="legend-value">0.2</div>
        <div class="legend-value">0.4</div>
        <div class="legend-value">0.6</div>
        <div class="legend-value">0.8</div>
        <div class="legend-value">1</div>
      </div>
      <div class="legend-colors">
        <div class="legend-part" style="background-color: #C4CCD8;"></div>
        <div class="legend-part" style="background-color: #95A5BD;"></div>
        <div class="legend-part" style="background-color: #667EA1;"></div>
        <div class="legend-part" style="background-color: #375786;"></div>
        <div class="legend-part" style="background-color: #08306B;"></div>
      </div>
    </div>
  </div>
</div>