.loading-overlay {
    position: absolute;
    top: var(--mat-toolbar-standard-height);
    left: 0;
    width: 100vw;
    height: calc(100vh - var(--mat-toolbar-standard-height));
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 599px) {

    .loading-overlay {
        top: var(--mat-toolbar-mobile-height);
        height: calc(100vh - var(--mat-toolbar-mobile-height));
    }

}