.login-container {
  margin: 0 auto;
  text-align: center;
}

.form-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 26rem;
  padding-bottom: 1rem;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #00AFC9;
  color: white;
  border: none;
  cursor: pointer;
  max-width: 16rem;
  min-height: 3rem;
}

button:disabled {
  background-color: grey;
}

.error {
  color: red;
  margin-top: 10px;
}

.mat-mdc-card {
  max-width: 30rem;
  margin: 0 auto;
}
