<div class="container" *ngIf="!isLoading">
<button (click)="logout()">Logout</button>

<!-- <div class="filter-container">
    <mat-form-field appearance="outline">
      <mat-label>Stoff</mat-label>
      <mat-select [(value)]="selectedStoff" (selectionChange)="applyFilter()">
        <mat-option *ngFor="let stoff of stoffe" [value]="stoff">{{ stoff }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Land</mat-label>
      <mat-select [(value)]="selectedLand" (selectionChange)="applyFilter()">
        <mat-option *ngFor="let land of laender" [value]="land">{{ land }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Prozess</mat-label>
      <mat-select [(value)]="selectedProzess" (selectionChange)="applyFilter()">
        <mat-option *ngFor="let prozess of prozesse" [value]="prozess">{{ prozess }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>


<app-barchart></app-barchart>
<app-table></app-table> -->
<app-heatmap [gwpValues]="gwpValues"></app-heatmap>
<app-radar-chart></app-radar-chart>
</div>