@use '@angular/material' as mat;
@use './m3-theme';

:root {
  @include mat.core-theme(m3-theme.$light-theme);
  @include mat.button-theme(m3-theme.$light-theme);

  .mat-mdc-card {
    border: 0;
    box-shadow: none;
  }

  body {
    margin: 0;
  }

  .mdc-button__label {
    color: white
  }

  .mat-mdc-outlined-button {
    font-size: medium;

    &:not(:disabled) {
      border-color: white;
    }
  }

  label.mdc-label {
    padding: 0;
  }

  .search {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}

.mat-mdc-text-field-wrapper {
  background-color: white;
}